.home--baner {
    height: 80vh;
    overflow: hidden;
}

.new--wrap, .coming--wrap, .bestsellers--wrap {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.new--wrap .tiles--wrap {
    display: flex;
    justify-content: space-evenly;
}

.new--wrap .tiles--wrap * {
    width: 20%;
    height: 40vh;
    background-color: black;
}