.home--baner {
    background-image: url("../../assets/images/background2.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.new--wrap, .coming--wrap, .bestsellers--wrap {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5vh;
}

.tiles--wrap {
    display: flex;
    justify-content: space-evenly;
}

.tiles--wrap .tile {
    font-family: "Roboto", sans-serif;
    width: 20%;
    height: 50vh;
}

.tiles--wrap .tile p {
    text-align: center;
}

.tiles--wrap .tile .img--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #F5F7F8;
}
.tiles--wrap .tile .img--wrap img {
    width: 100%;
}

.coming--wrap .coming--content {
    background-color: #6D8F6D;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming--wrap .coming--content p {
    font-size: 3.2vw;
    color: #F5F7F8;
}

.coming--wrap .coming--content img {
    height: 100%;

}