.collapsible {
    display: grid;
    grid-template-rows: auto 0fr;
    margin: 0;
    padding: 0;
    grid-row-gap: 0;
    transition: grid-template-rows 0.3s ease;
}

.collapsible--expanded {
    grid-template-rows: auto 1fr;
}

.collapsible__content {
    overflow: hidden;
}

.collapsible__header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible__header > h4 {
    margin: 0;
}

.collapsible__collapse-arrow {
    width: 15px;
    padding-right: 10px;
}

.collapsible__collapse-arrow--down {
    transform: rotate(180deg);
    padding-left: 10px;
    transition: 0.3s all ease;
}

.collapsible__collapse-arrow--up {
    transform: rotate(0deg);
    padding-left: 10px;
    transition: 0.3s all ease;
}