.collapsible {
    display: grid;
    grid-template-rows: [firs] 1fr [second] 0;
    overflow: hidden;
    transition: 0.4s all ease;
}

.collapsible--expanded {
    grid-template-rows: 1fr;
}

.collapsible__content {
    overflow: hidden;
    padding: 0 20px 20px 20px;
}
.collapsible__header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible__header > h4 {
    margin: 0;
}

.collapsible__collapse-arrow {
    width: 15px;
    padding-right: 10px;
}

.collapsible__collapse-arrow--down {
    transform: rotate(180deg);
    padding-left: 10px;
    transition: 0.4s all ease;
}

.collapsible__collapse-arrow--up {
    transform: rotate(0deg);
    padding-left: 10px;
    transition: 0.4s all ease;
}