.modal {
    padding: 5%;
    width: clamp(30vw,25vw,40vw);
    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    margin: 0 auto;
}



.close-modal {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right:20px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-modal:hover {
    cursor: pointer;
}

.close-modal img {
    height: 25px;
}


h1 {
    text-align: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

form .form--group input {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #616467;
}

form .form--group + p {
    margin: 0;
}

form p {
    font-size: 12px;
}

/*testowe*/

.form--group {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5px;
}


.form--group label {
    position: absolute;
    background-color: white;
    top: 12px;
    left: 16px;
    color: grey;
    font-size: 12px;
    visibility: hidden;
    transition: 0.2s transform ease;
}

.form--group input:focus {
    outline: 1px solid #4e5052;
    box-shadow: none;
}

form button{
    color: #fff;
    /*background-color: #616467;*/
    background: rgb(127,131,135);
    background: linear-gradient(45deg, rgba(127,131,135,1) 0%, rgba(78,80,82,1) 100%);
    width: 30%;
    margin: 40px 20px 20px 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

form button:hover {
    cursor: pointer;
    background: rgb(58,60,62);
    background: linear-gradient(45deg, rgba(58,60,62,1) 0%, rgba(78,80,82,1) 100%);
}

.form--group input:focus-within + label{
    transform: translateY(-15px);
    visibility: visible;
}

.form--group input:not(:placeholder-shown) + label {
    transform: translateY(-15px);
    visibility: visible;
}

/* TODO: Firefox placeholder nie znika */
.form--group input:focus-within::placeholder {
    visibility: hidden;
}

/*testowe*/
