.register-modal {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.register-modal__header {
    text-align: center;
}

.register-modal__form {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

.register-modal__form-wrap {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.register-modal__input {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #616467;
}

.register-modal__input--invalid {
    border: 1px solid #cc0000;
}

.register-modal__input:focus {
    outline: 1px solid #4e5052;
    box-shadow: none;
}

.register-modal__label {
    position: absolute;
    background-color: white;
    top: 12px;
    left: 16px;
    color: grey;
    font-size: 12px;
    visibility: hidden;
    transition: 0.2s transform ease;
}



.register-modal__input:focus-within + .register-modal__label {
    transform: translateY(-15px);
    visibility: visible;
}

.register-modal__input:not(:placeholder-shown) + .register-modal__label {
    transform: translateY(-15px);
    visibility: visible;
}

.register-modal__input:focus-within::placeholder {
    visibility: hidden;
}

.register-modal__input:focus-within::-moz-placeholder {
    color: transparent;
}

.register-modal__input--invalid + .register-modal__label {
    color:red;
}

.register-modal__button {
    color: #fff;
    background: rgb(127,131,135);
    background: linear-gradient(45deg, rgba(127,131,135,1) 0%, rgba(78,80,82,1) 100%);
    width: 30%;
    margin: 40px 20px 20px 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.register-modal__button:hover {
    cursor: pointer;
    background: rgb(58,60,62);
    background: linear-gradient(45deg, rgba(58,60,62,1) 0%, rgba(78,80,82,1) 100%);
}

.register-modal__link {
    text-decoration: underline;
    color: blue;
}

.register-modal__form > p {
    font-size: 12px;
}

.register-modal__link:hover {
    cursor: pointer;
}

.register-modal__loader {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.register-modal__loader-off {
    visibility: hidden;
    margin-top: 20px;
}

.circle-loader {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
}

.checkmark {
    display: block;
}

.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    opacity: 1;
    height: 1.0em;
    width: 0.5em;
    transform-origin: left top;
    border-right: 2px solid #5cb85c;
    border-top: 2px solid #5cb85c;
    content: "";
    left: 0.4em;
    top: 1em;
    position: absolute;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 0.5em;
        opacity: 1;
    }
    40% {
        height: 1.0em;
        width: 0.5em;
        opacity: 1;
    }
    100% {
        height: 1.0em;
        width: 0.5em;
        opacity: 1;
    }
}